# Bibliotecas principales
streamlit
pandas
plotly
matplotlib

# Manejo de datos y tipos
typing-extensions
python-dateutil

# Logging y utilidades del sistema
logging

# Especificación de versiones Python
python
